body {
  margin: 0%;
  background-image: url(../images/background.jpg);
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0;
}
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
}
nav {
  display: none;
  text-decoration: none;
}

nav li {
  list-style: none;
}
nav a {
  color: white;
  text-decoration: none;
}
.menu-icon {
  font-size: 30px;
  display: block;
  cursor: pointer;
  flex-direction: column;
}
/* Cacher la case à cocher pour le menu toggle */
.menu-checkbox {
  display: none;
}
/* Affiche le menu quand la case est cochée */
.menu-checkbox:checked + .menu-icon + nav {
  display: block;
}
/* Le menu est caché par défaut sur mobile */

summary {
  list-style: none;
}

.search-container {
  display: flex;
  align-items: center;
  display: flex;
  margin-left: auto;
}
.search-input {
  border-radius: 10px;
  display: none;
}
.search-icon {
  font-size: 14px;
  border-radius: 10px;
}
main {
  max-width: 1000px;
}
:root {
  --hauteur-menu: 60px;
}
/* Form style */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  padding: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto; /* Important pour "pousser" le footer vers le bas */
}
.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Style de chaque élément du menu */
.footer-menu li {
  display: inline-block;
  position: relative;
  margin: 10px;
}
/* Style des liens du menu */
.footer-menu li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none; /* Cache l'icône burger sur les grands écrans */
  }

  nav {
    display: block; /* Affiche le menu sur les grands écrans */
  }

  nav ul {
    display: flex;
    flex-direction: row; /* Menu horizontal */
    justify-content: flex-start;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    font-size: 18px;
  }

  /* Afficher les sous-menus en mode horizontal sur grand écran */
  details {
    display: inline-block;
  }

  .dropdown-menu {
    display: block; /* Affiche le sous-menu en permanence sur grand écran */
  }
  /* Barre de recherche */
  .search-container {
    position: relative;
    right: 20px;
    flex-direction: row;
  }

  .search-input {
    display: inline-block;
    width: 250px; /* Taille de la barre de recherche sur desktop */
  }
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 20px;
    gap: 20px;
  }
  footer {
    padding: 30px;
  }
}
