body {
  background-color: beige;
}

h1,
h2 {
  color: white;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  height: 100%;
  background-image: url(../images/fansite2/wave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;

  border-radius: 50px;
}

#main_img {
  height: 100vh;

  background-image: url(../images/fansite2/yuki-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#main_img div {
  height: inherit;
  width: inherit;

  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease;
}

#main_img div:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 1s ease;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;

  background-image: linear-gradient(white, rgba(0, 0, 0, 0.5));
}

#introduction img {
  height: 250px;
  width: 250px;

  margin: 1%;
  object-fit: cover;
}

#introduction div {
  display: flex;
  flex-direction: column;
}

#introduction p {
  margin-left: 2%;
  min-width: 60%;
}

#best_work {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), white);
}

#best_work > div {
  display: flex;
  flex-direction: row;
}

#best_work p {
  margin-left: 2%;
  min-width: 40%;
}

.best_media_div {
  display: flex;
  flex-direction: column;
}

.best_media_div img {
  height: 200px;

  object-fit: cover;
  aspect-ratio: 1/1;

  margin: 1%;
}

.best_media_div img:hover {
  filter: brightness(0.5);
}

.best_media_div audio {
  height: 40px;
  width: 200px;
}

#media_list {
  display: flex;
  justify-content: space-between;
  overflow: scroll;

  background-color: gray;
}

.media_cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;

  height: 200px;
  width: 200px;

  background-image: url(../images/fansite2/yuki.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.media_cover svg {
  fill: white;
  stroke: white;
  stroke-width: 1;

  visibility: hidden;
}

.media_cover:hover {
  opacity: 0.5;
}

.media_cover:hover svg {
  visibility: visible;
  opacity: 0.8;
}

@media only screen and (min-width: 700px) {
  #introduction {
    flex-direction: row;
    justify-content: space-between;
  }

  #introduction p {
    max-width: 80%;
  }

  #best_work {
    justify-content: space-around;
  }

  #best_work > div {
    flex-direction: row;
  }
}
