/* Mobile First */
body,
html {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
header {
  background-color: #333;
  color: white;

  display: flex;
  width: 100%;
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: flex; /* Visible sur mobile */
  flex-direction: column;
}
/* Cacher la case à cocher pour le menu toggle */
.menu-checkbox {
  display: none; /* Cache la case à cocher */
}
/* Afficher le menu si la case est cochée */
.menu-checkbox:checked + .menu-icon + nav {
  display: block;
}
nav {
  display: none; /* Le menu est caché par défaut sur mobile */
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  margin: 10px 0;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav ul li a:hover {
  transform: scale(1.1);
}
/* Styles pour le dropdown (sous-menu) */
details {
  position: relative;
}
summary {
  list-style: none;
  cursor: pointer;
  padding: 0;
  background-color: #333;
  font-size: 18px;
  color: white;
  border: none;
  transition: background-color 0.5s ease; /* Pour une transition douce */
}
details[open] summary {
  background-color: #555; /* Changer la couleur du summary quand ouvert */
}

.dropdown-menu {
  display: block; /* Affiche le sous-menu lorsque details est ouvert */
  list-style: none;
  padding-left: 20px;
  background-color: white;
}
.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.dropdown-menu li a:hover {
  text-decoration: underline;
}
.search-container {
  display: flex;
  align-items: baseline;
  display: flex;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.search-input {
  border-radius: 10px;
  display: none;
}
.search-icon {
  font-size: 14px;
  border-radius: 10px;
}

.search-input:focus {
  outline: none;
  width: 200px; /* Agrandir la barre de recherche lors du focus */
}
/* Main style */
main {
  flex-grow: 1;
  padding: 15px;
}

section {
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
section h2 {
  background-image: url(../images/wave.jpg);
  border-radius: 50px;
  color: white;
  text-align: center;
  box-shadow: 3px 3px 10px gray;
  opacity: 0, 5;
}
p {
  border-radius: 5px;
  background-color: #f4f2f3;
  border-left: 5px solid #00246b;
  font-size: 20px;
  box-shadow: -5px 0 10px 0 black;
}

/* Gallery layout */
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

/* Lazy loading */
img {
  display: block;
  margin: 0px;
  border-radius: 10%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
}
#main-image {
  height: 100vh;
  width: inherit;

  background-image: url(../images/fansite1/imagecopy4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.photo-grid {
  display: grid;
  margin: auto;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 100%;
}
.photo-grid-a {
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: -5px 0 10px 0 black;
  color: black;
  border-left: 5px solid #00246b;
  margin: 30px 40px;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom: 0%;
}

.movie-poster {
  background-color: #00246b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  max-width: 100%;
  margin: 0;

  h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    color: plum;
  }
  h4 {
    margin: 5px 0 10px;
    color: white;
  }
}
.movie-poster img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

/* Form style */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
}

form input,
form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #4cae4c;
}
/*scroll*/
/* Conteneur du défilement d'images */
.image-scroll-container {
  width: 100%;
  overflow-x: auto; /* Activer le défilement horizontal */
  padding: 10px 0; /* Espacement autour du conteneur */
  -webkit-overflow-scrolling: touch; /* Pour améliorer l'expérience de défilement sur iOS */
}

/* Scrolling horizontal des images */
.image-scroll {
  display: flex;
  gap: 10px; /* Espace entre les images */
  padding: 0; /* Supprime le padding */
}

/* Style des images */
.image-scroll img {
  width: 243px; /* Largeur des images pour mobile */
  height: 342px; /* Hauteur des images pour mobile */
  object-fit: cover; /* Remplir l'espace sans déformer */
  border-radius: 10px;
  flex-shrink: 0; /* Empêche les images de se réduire */
}
figure {
  text-align: center; /* Centrer l'image et la légende */
  margin: 20px;
}
/* Style des images */
img {
  width: 100%; /* Image occupe toute la largeur du conteneur */
  max-width: 100%; /* Ne pas dépasser la largeur du conteneur */
  height: auto; /* Garder le ratio d'aspect */
  border-radius: 10px; /* Bords arrondis de l'image */
}

/* Style de la légende */
figcaption {
  font-size: 1em; /* Taille de la police pour la légende */
  color: #555; /* Couleur du texte de la légende */
  margin-top: 10px; /* Espace entre l'image et la légende */
  line-height: 1.5; /* Hauteur de ligne pour plus de lisibilité */
}
.external_site_to_read a {
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: -5px 0 10px 0 black;
  color: black;
  border-left: 5px solid #00246b;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 35px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.external_site_to_watch a {
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  border-left: 5px solid #00246b;
  box-shadow: -5px 0 10px 0 black;
  margin-right: 35px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}
li::marker {
  display: hidden;
}
.social-media {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 50px;

  text-align: center;
}

/*fin scroll*/
/* Style de base du footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto; /* Important pour "pousser" le footer vers le bas */
}

/* Style pour le menu de base */
.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Style de chaque élément du menu */
.footer-menu li {
  display: inline-block;
  position: relative;
  margin: 10px;
}
/* Style des liens du menu */
.footer-menu li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
  background-color: #444;
  border-radius: 5px;
  font-size: 16px;
}
.footer-menu li a:hover {
  background-color: #555;
}
.footer-p {
  margin: 0%;
  padding: 0;
  background-color: #333;
  color: white;
}
/* Afficher le menu déroulant au survol */
.footer-menu li:hover .dropdown {
  display: block; /* Afficher la liste déroulante au survol de l'élément */
}
:root {
  --hauteur-menu: 60px;
}
/* Pour les écrans plus larges (tablettes, ordinateurs) */
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none; /* Cache l'icône burger sur les grands écrans */
  }

  nav {
    display: block; /* Affiche le menu sur les grands écrans */
  }

  nav ul {
    display: flex;
    flex-direction: row; /* Menu horizontal */
    justify-content: flex-start;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    font-size: 18px;
  }

  /* Afficher les sous-menus en mode horizontal sur grand écran */
  details {
    display: inline-block;
  }

  .dropdown-menu {
    display: block; /* Affiche le sous-menu en permanence sur grand écran */
  }
  /* Barre de recherche */
  .search-container {
    position: relative;
    right: 20px;
    flex-direction: row;
  }

  .search-input {
    display: inline-block;
    width: 250px; /* Taille de la barre de recherche sur desktop */
  }
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /*padding: 20px;*/
    gap: 20px;
  }

  footer {
    padding: 10px;
  }
  p {
    font-size: 20px;
  }
  .image-scroll img {
    width: 300px; /* Augmenter la taille des images sur les écrans plus larges */
    height: 200px;
  }

  figcaption {
    font-size: 1.2em; /* Augmenter la taille de la légende */
  }
  figure {
    margin: 20px auto;
  }
}

@media (min-width: 1024px) {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .photo-grid {
    max-width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  /* Barre de recherche */
  .search-container {
    position: relative;
    right: 20px;
    flex-direction: row;
  }

  .search-input {
    display: inline-block;
    width: 250px; /* Taille de la barre de recherche sur desktop */
  }
  figure {
    margin: 30px auto;
  }
}

/* Media Query pour les très grands écrans (grandes résolutions de bureau) */
@media (min-width: 1200px) {
  .image-scroll img {
    width: 350px; /* Augmenter encore plus la taille des images */
    height: 250px;
  }
  figcaption {
    font-size: 1.3em; /* Augmenter la taille de la légende pour les grands écrans */
    line-height: 1.8; /* Ajuster la hauteur de ligne pour plus de lisibilité */
  }
}
