/* Styles de base */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8fb;
}

/* En-tête */
header {
    background-color: plum;
    color: purple;
    padding: 1.5em 1em;
    text-align: center;
}
input#menu-toggle {
    display: none;
}

/* Placez l'image en haut à droite */
.logo {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 350px;  /* Ajustez la taille si nécessaire */
    height: auto;  /* Garde les proportions du logo */
    border-radius: 30%;
    margin-bottom: 50px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px;
}

nav a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

nav a:hover {
    text-decoration: underline;
}

/* Section de formulaire de contact */
.contact-form {
    max-width: 600px;
    margin: 2em auto;
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-form h2 {
    color: plum;
    margin-bottom: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.contact-form label {
    display: block;
    margin-top: 1em;
    color: #333;
}

.contact-form input[type="text"],
.contact-form select {
    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.contact-form .checkbox-container input {
    margin-right: 0.5em;
}

.contact-form button {
    background-color: #6d064b;
    color: white;
    padding: 0.8em 2em;
    border: none;
    border-radius: 4px;
    margin-top: 1.5em;
    cursor: pointer;
    font-size: 1em;
}

.contact-form button:hover {
    background-color: #0056b3;
}